<launch>

    <node pkg="frontier_exploration" type="explore_client" name="explore_client" output="screen"/>

    <node pkg="frontier_exploration" type="explore_server" name="explore_server" output="screen" >

        <param name="frequency" value="1.0"/>
        <param name="goal_aliasing" value="2.0"/>

        <rosparam file="$(find locus_autonomy)/config/costmap_common_params.yaml" command="load" ns="explore_costmap" />

    </node>

</launch>
